

.home{
    background-image: url('../public/background.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 0;
}

.icon{
    margin-right: 5px;
    background: #f2f2f2;
      font-size: 2.5rem;
      padding: 10px;
      border-radius: 5px;
  }
.icon:hover {
  background: rgb(255, 200, 5);
}

.icons{
    margin-right: 5px;
    background: #232323;
    font-size: 2.5rem;
    padding: 10px;
    border-radius: 50%;
  }
.icons:hover {
  color: rgb(255, 200, 5);
}
